
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <style>
h1 {
    text-align: center;
}

button {
    min-width: 150px;
    width: 20%;
    height: calc(width / 1.618);
    
}

.btn_row {
    position: absolute;
    width: 100%;
    left: 0px;
    transform: translateX(50%);
}

.btn-success{
    position: absolute;
    right: 102.5%;
}

.btn-danger{
    position: absolute;
    left: 2.5%;
}

    </style>
</head>

{% block body %}
<body>
    <div class="jumbotron">
        <h1>Is <b>Zi</b> always RIGHT?</h1>
        <br />
        <br />
        <div class = btn_row>
            <button type="button" class="btn btn-success btn-lg">YES!</button>
            <button type="button" class="btn btn-danger btn-lg" onclick="location.href='{{ url_for('disapproval')}}'">No</button>
        </div>
    </div>
</body>
{% endblock %}

</html>